<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<p th:text="#{email.eavrop.order.subject(${utredningType},${arendeId})}">En ny beställning av försäkringsmedicinsk utredning har inkommit </p>
	<p th:text="#{email.eavrop.order.admin}">Vänligen logga in i FMU-admin för att se och administrera beställningen.</p>
	<p th:utext="#{email.eavrop.order.agreement(${dayStr})}">Enligt överenskommelse med Försäkringskassan ska handläggare informeras om vilken vårdenhet som åtagit sig ärendet inom fem dagar</p> 
	<p th:text="#{email.eavrop.order.reply}">Detta mejl kan ej besvaras. All administration av ärendet sker inom ramen för FMU-admin och enligt de instruktioner som finns där.</p>
	<p>
		<span th:text="#{email.eavrop.order.greeting}">Regards, </span> <br />
		<em th:text="#{email.eavrop.order.signature}">FMU-admin</em>
	</p>
</body>
</html>