<div ng-cloak>
    <div class="row">
        <h1 translate="main.title">Welcome to FMU - Fördjupade
            Medicinska Utredningar!</h1>

        <p class="lead" translate="main.subtitle">This is your homepage</p>

        <div ng-switch="authenticated">
            <div id="authenticated" class="alert alert-success"
                 ng-switch-when="true" translate="main.logged.message"
                 translate-values="{username: '{{account.login}}'}">You are
                logged in as user "Admin".
            </div>

            <div id="notAuthenticated" class="alert alert-warning"
                 ng-switch-when="false"
                 translate="global.messages.info.authenticated">
                If you want to <a href="#/login">authenticate</a>, you can try the
                default login="admin" and password="admin".
            </div>

        </div>

        <div ng-controller="EavropController" class="table-responsive" style="background-color: #ffffff">
            <table ng-table="tableParams" class="table table-bordered table-hover">
                <tr ng-repeat="row in $data" ng-class="row.color">
                    <td data-title="'Ärende ID'">{{row.id}}</td>
                    <td data-title="'Typ'">{{row.typ}}</td>
                    <td data-title="'Datum'">{{row.datum}}</td>
                </tr>
            </table>
        </div>

        <script type="text/ng-template" id="ng-table/pager.html">
            <ul class="pager ng-cloak">
                <li ng-repeat="page in pages"
                    ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                    ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                        <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                        <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                        <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                    </div>
                </li>
            </ul>
        </script>

    </div>
</div>
