<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="fmu img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 translate="main.title">Welcome to FMU - Fördjupade Medicinska Utredningar!</h1>
            <p class="lead" translate="main.subtitle">This is your homepage</p>

            <div ng-switch="authenticated">
                <div class="alert alert-success" ng-switch-when="true"
                     translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "Admin".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                    If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
                    password="admin".
                </div>

            </div>

            <div class="row" ng-controller="EavropTableController">
                <table class="table table-bordered">
                    <thread>
                        <tr>
                            <th scope="col">Ärende-ID</th>
                            <th scope="col">Typ</th>
                            <th scope="col">Datum</th>
                        </tr>
                    </thread>
                    <tr ng-repeat="e in eavrops">
                        <td>{{e["ärende-id"]}}</td>
                        <td>{{e["typ"]}}</td>
                        <td>{{e["datum"]}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
