<div ng-cloak>
    <div class="row">
        <h1 translate="main.title">Welcome to FMU - Fördjupade
            Medicinska Utredningar!</h1>

        <p class="lead" translate="main.subtitle">This is your homepage</p>

        <div ng-switch="authenticated">
            <div id="authenticated" class="alert alert-success"
                 ng-switch-when="true" translate="main.logged.message"
                 translate-values="{username: '{{account.login}}'}">You are
                logged in as user "Admin".
            </div>

            <div id="notAuthenticated" class="alert alert-warning"
                 ng-switch-when="false"
                 translate="global.messages.info.authenticated">
                If you want to <a href="#/login">authenticate</a>, you can try the
                default login="admin" and password="admin".
            </div>

        </div>

        <div ng-controller="EavropController" class="table-wrapper" style="background-color: #ffffff">
            <table ng-table="tableParams" class="table table-responsive">

                <tr ng-repeat="row in $data" ng-style="{'background-color': row.color}">
                    <td data-title="tableHeaders.arendeID" sortable="'arendeId'">{{row.arendeId}}</td>
                    <td data-title="tableHeaders.typ" sortable="'utredningType'">{{row.utredningType}}</td>
                    <td data-title="tableHeaders.bestallareOrganisation" sortable="'bestallareOrganisation'">{{row.bestallareOrganisation}}</td>
                    <td data-title="tableHeaders.enhet" sortable="'enhet'">{{row.enhet}}</td>
                    <td data-title="tableHeaders.skickadDatum" sortable="'creationTime'">{{row.creationTime}}</td>
                    <td data-title="tableHeaders.patientOrt" sortable="'patientCity'" class="text-capitalize">{{row.patientCity}}</td>
                    <td data-title="tableHeaders.mottagenOrganisation" sortable="'mottagarenOrganisation'">{{row.mottagarenOrganisation}}</td>
                    <td data-title="tableHeaders.utredare" sortable="'utredare'" class="text-capitalize">{{row.utredare}}</td>
                    <td data-title="tableHeaders.status" sortable="'status'">{{row.status}}</td>
                    <td data-title="tableHeaders.antalPasserandeDagar" sortable="'antalDagarEfterForfragan'">{{row.antalDagarEfterForfragan}}</td>
                </tr>
            </table>
        </div>

        <script type="text/ng-template" id="ng-table/pager.html">
            <ul class="pager ng-cloak">
                <li ng-repeat="page in pages"
                    ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                    ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                    <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)"
                                class="btn btn-default">10
                        </button>
                        <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)"
                                class="btn btn-default">25
                        </button>
                        <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)"
                                class="btn btn-default">50
                        </button>
                        <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)"
                                class="btn btn-default">100
                        </button>
                    </div>
                </li>
            </ul>
        </script>

    </div>
</div>
