<div class="row">
    <div class="col-md-12">
        <div class="modal-header">
            <h1>Acceptera förfrågan om utredning</h1>
        </div>

        <div class="modal-body">
            <div class="form-group">
            </div>
        </div>
        
        <div class="modal-footer">
            <input class="btn btn-default" type="button" value="Skicka" ng-click="accept()">
            <input class="btn btn-default" type="button" value="Avbryt" ng-click="close()">
        </div>
    </div>
</div>
