<div class="fmu-form-container">
    <div class="fmu-form-header">
        <h1>Lägg till anteckning</h1>
    </div>

    <div class="fmu-form-body">
        <fmu-error-field errors="noteError"></fmu-error-field>

        <div class="form-group">
            <label>Anteckning</label>
            <textarea class="form-control" cols="40" rows="4" ng-model="note.content"></textarea>
        </div>
    </div>

    <div class="fmu-form-footer">
        <div>
            <button class="btn btn-success" ng-click="save()">Spara</button>
            <button class="btn btn-warning" ng-click="close()">Avbryt</button>
        </div>
    </div>
</div>