<div class="row">
    <div class="col-md-12">
        <div class="modal-header">
            <h1>Lägg till handling</h1>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="name">Handling</label>
                <input class="form-control" ng-model="doc.name" type="text" id="name" />
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="date">Registrerad, datum</label>
                        <p class="input-group">
                        <input type="text" id="date" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="doc.regDate" is-open="picker.opened" datepicker-options="dateOptions" ng-required="true" close-text="Stäng" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <input class="btn btn-default" type="button" value="Spara" ng-click="save()">
            <input class="btn btn-default" type="button" value="Avbryt" ng-click="close()">
        </div>
    </div>
</div>
