<div ng-cloak class="alla-handelser fadeIn fast">
    <h1 translate>Alla händelser</h1>
    <div class="sammanfattning">
        <h2 translate>Sammanfattning</h2>
        <div class="badges-container">
            <div class="summary-badge">
                <div class="panel-heading"><strong translate>Förfrågan om utredning</strong></div>
                <div class="panel-body"><span>{{allevents.dateInquiry | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
            <div class="summary-badge">
                <div class="panel-heading"><strong translate>Handlingar översändes</strong></div>
                <div class="panel-body"><span>{{allevents.documentsSent | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
            <div class="summary-badge">
                <div class="panel-heading"><strong translate>Utredning antal dagar</strong></div>
                <div class="panel-body"><span
                >{{allevents.investigationNoDays}}</span></div>
            </div>
            <div class="summary-badge">
                <div class="panel-heading"><strong translate>Begärda tillägg, handlingar</strong></div>
                <div class="panel-body"><span
                >{{allevents.reqAmendmentsDocuments}}</span></div>
            </div>
            <div class="summary-badge">
                <div class="panel-heading"><strong translate>Acceptans av utredningen</strong></div>
                <div class="panel-body"><span>{{allevents.acceptanceDate | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
            <div class="summary-badge">
                <div class="panel-heading"><strong translate>Intyg skickat till beställaren</strong></div>
                <div class="panel-body"><span>{{allevents.certSentToOrdererDate |  date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
            <div class="summary-badge">
                <div class="panel-heading"><strong translate>Antal avvikelser</strong></div>
                <div class="panel-body" ng-class="{'badge-danger': allevents.noDeviations > 0}">
                <span ng-class="allevents.noDeviations > 0 ? 'badge-danger' : ''">{{allevents.noDeviations}}</span></div>
            </div>
            <div class="summary-badge">
                <div class="panel-heading"><strong translate>Begärda kompletteringar till utredning</strong></div>
                <div class="panel-body"><span>{{allevents.reqAmendmentsInvestigation}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="events-bestallning">
        <h2 translate>Beställning</h2>
        <div class="table-wrapper">
            <table class="fmu-table">
                <thead>
                    <tr>
                        <th translate>Ärende-ID</th>
                        <th translate>Typ</th>
                        <th translate>Organisation</th>
                        <th translate>Enhet/Avdelning</th>
                        <th translate>Förfrågan skickad, datum</th>
                        <th translate>Patientens bostadsort</th>
                        <th translate>Organisation</th>
                        <th translate>Utredare, enhet</th>
                        <th translate>Acceptans av utredning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{order.arendeId}}&nbsp;</td>
                        <td>{{order.type}}&nbsp;</td>
                        <td>{{order.ordererOrganization}}&nbsp;</td>
                        <td>{{order.ordererUnit}}&nbsp;</td>
                        <td>{{order.inquiryDate | date:'yyyy-MM-dd'}}&nbsp;</td>
                        <td>{{order.patientResidence}}&nbsp;</td>
                        <td>{{order.investigatorOrganization}}&nbsp;</td>
                        <td>{{order.investigatorUnit}}&nbsp;</td>
                        <td>{{order.acceptanceDate | date:'yyyy-MM-dd'}}&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="events-handlingar">
        <h2 translate>Handlingar</h2>
        <div class="table-wrapper">
            <fmu-handlingar-table handlingar="documents"></fmu-handlingar-table>
        </div>
    </div>
    
    <div class="events-tillagg">
        <h2 translate>Tillägg</h2>
        <div class="table-wrapper">
            <fmu-tillagg-table tillagg="requestedDocuments"></fmu-tillagg-table>
        </div>
    </div>
    <div class="events-utredning">
        <h2 translate>Utredning</h2>
        <div class="table-wrapper">
            <fmu-utredning-table
            table-parameters="tableParameters"
            header-fields="headerFields"
            eavropid="currentEavropId"
            row-modifiable="false"
            access-data-callback="getTableCellValue">
            </fmu-utredning-table>
        </div>
    </div>
    
    <div class="events-anteckningar">
        <h2 translate>Anteckningar</h2>
        <div class="table-wrapper">
            <fmu-anteckningar-table anteckningar="notes"></fmu-anteckningar-table>
        </div>
    </div>
</div>