<h1>Alla händelser</h1>

<h2>Sammanfattning</h2>
<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Förfrågan om utredning</strong></div>
                    <div class="panel-body">{{}}</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Handlingar översändes</strong></div>
                    <div class="panel-body">{{}}</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Utredning antal dagar</strong></div>
                    <div class="panel-body">{{}}</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Begärda tillägg, handlingar</strong></div>
                    <div class="panel-body">{{}}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Acceptans av utredningen</strong></div>
                    <div class="panel-body">{{}}</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Intyg skickat till beställaren</strong></div>
                    <div class="panel-body">{{}}</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Antal avvikelser</strong></div>
                    <div class="panel-body">{{}}</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Begärda kompletteringar till utredning</strong></div>
                    <div class="panel-body">{{}}</div>
                </div>
            </div>
        </div>
        <h2>Beställning</h2>
        <table class="table table-bordered">
            <tr>
                <th>
                    Ärende-ID
                </th>
                <th>
                    Typ
                </th>
                <th>
                    Organisation
                </th>
                <th>
                    Enhet/Avdelning
                </th>
                <th>
                    Förfrågan skickad, datum
                </th>
                <th>
                    Patientens bostadsort
                </th>
                <th>
                    Organisation
                </th>
                <th>
                    Utredare, enhet
                </th>
                <th>
                    Acceptans av utredning
                </th>
            </tr>
        </table>
        <h2>Handlingar</h2>
        <table class="table table-bordered">
            <tr>
                <th>
                    Handling
                </th>
                <th>
                    Registrerad av
                </th>
                <th>
                    Registrerad, datum
                </th>
            </tr>
        </table>
        <h2>Tillägg</h2>
        <table class="table table-bordered">
            <tr>
                <th>
                    Handling
                </th>
                <th>
                    Begäran skickad, av
                </th>
                <th>
                    Begäran skickad, datum
                </th>
                <th>
                    Begäran skickad till
                </th>
            </tr>
        </table>
        <h2>Utredning</h2>
        <h2>Anteckningar</h2>
        <table class="table table-bordered">
            <tr>
                <th>
                    Typ
                </th>
                <th>
                    Innehåll
                </th>
                <th>
                    Skapad av
                </th>
                <th>
                    Datum
                </th>
            </tr>
        </table>
    </div>
</div>

