<div ng-cloak class="container-fluid">
    <div class="col-md-12">
        <h1>Underlag för ersättning</h1>

        <!--Eavrop Test fmu68-->
        <h2>Ärende</h2>
        <fmu-simple-table
                header-fields="arendeHeaderFields"
                access-data-callback="getArendeTableCellValue"
                show-all-rows="true">
        </fmu-simple-table>

        <h2>Specifikation - avvikelser</h2>
        <fmu-simple-table
                header-fields="specificationHeaderFields"
                access-data-callback="getArendeTableCellValue"
                show-all-rows="true">
        </fmu-simple-table>

        <div ng-show="tillaggtjanstHeaderFields">
            <h2>Tillägstjänster</h2>
            <fmu-simple-table
                    header-fields="tillaggtjanstHeaderFields"
                    access-data-callback="getArendeTableCellValue"
                    show-all-rows="true">
            </fmu-simple-table>
        </div>
    </div>
</div>