<div class="fmu-form-container">
    <div class="fmu-form-header">
        <h1 class="fmu-confirm-heading-text">Bortagningsbekräftelse</h1>
    </div>

    <div class="fmu-form-body">
        <p class="fmu-confirm-text">Bortagningen av följande anteckning är oåterkallelig är du säker på att du vill fortsätta ?</p>
    </div>

    <div class="fmu-form-footer">
        <div>
            <button class="btn btn-danger" ng-click="removeNote()">Ja</button>
            <button class="btn btn-success" ng-click="cancelRemoval()">Nej</button>
        </div>
    </div>
</div>