<div class="fmu-form-container">
    <div class="fmu-form-header">
        <h1 translate class="fmu-confirm-heading-text">Ta bort</h1>
    </div>

    <div class="fmu-form-body">
        <p translate class="fmu-confirm-text">Är du säker på att du vill ta bort anteckningen?</p>
    </div>

    <div class="fmu-form-footer">
        <div>
            <button class="btn btn-success" ng-click="cancelRemoval()" translate>Avbryt</button>
            <button class="btn btn-danger" ng-click="removeNote()" translate>Ta bort</button>
        </div>
    </div>
</div>