<div class="alert alert-info" style="margin-bottom: 0px">
    <a class="fmu-backlink" ui-sref="overview.orders">Till översikten</a>
    <div class="pull-right">
            asdasdsa
    </div>
</div>

<div class="navbar navbar-default navbar-static-top" style="margin-bottom: 1em" role="navigation">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref=".order.contents"><span class="glyphicon glyphicon-save">&nbsp;</span>Beställning</a></li>
            <li ui-sref-active="active"><a ui-sref=".investigation"><span class="glyphicon glyphicon-search">&nbsp;</span>Utredning</a></li>
            <li ui-sref-active="active"><a ui-sref=".allevents"><span class="glyphicon glyphicon-random">&nbsp;</span>Alla händelser</a></li>
            <li ui-sref-active="active"><a ui-sref=".notes"><span class="glyphicon glyphicon-pencil">&nbsp;</span>Anteckningar</a></li>
            <li ui-sref-active="active"><a ui-sref=".compensation"><span class="glyphicon glyphicon-book">&nbsp;</span>Underlag för ersättning</a></li>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div ui-view></div>
</div>
