<a class="backlink" ui-sref="overview.orders">Till översikten</a>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref=".order">Beställning</a></li>
            <li ui-sref-active="active"><a ui-sref=".investigation">Utredning</a></li>
            <li ui-sref-active="active"><a ui-sref=".allevents">Alla händelser</a></li>
            <li ui-sref-active="active"><a ui-sref=".notes">Anteckningar</a></li>
            <li ui-sref-active="active"><a ui-sref=".compensation">Underlag för ersättning</a></li>
        </div>
    </div>
</div>

<div ui-view></div>
