<div id="page-menus">
    <div class="eavrop-header">
        <div class="header-backlink" ui-sref="overview.orders">
            <p class="fa fa-chevron-left typl8-zeta"> Till översikten</p>
        </div>

        <div class="patient-info-banner flipInX normal">
            <span>Invånare: <b>{{patientInfo.label}}</b></span>
            <span>Ärende-ID: <b>{{currentEavrop.arendeId}}</b></span>
        </div>
    </div>

    <div restricted role="ROLE_SAMORDNARE">
        <div ng-controller="AssignmentCtrl" ng-switch="currentEavrop.status">
            <div class="fmu-assign-banner" ng-switch-when="UNASSIGNED">
                <h1>Utse vårdleverantör</h1>

                <p>Utse vårdleverantör genom att hämta in acceptans av denna förfrågan.</p>
                <a class="btn btn-success" ng-click="openAssignUtredareDialog()">Utse utredare</a>
            </div>
            <div class="fmu-assign-banner" ng-switch-when="ASSIGNED">
                <h1>Inväntar svar från vårdleverantör</h1>

                <p>Förfrågan om acceptans för ärende med ID: <b>{{currentEavrop.arendeId}}</b> skickades till <b>{{currentEavrop.utforandeEnhet}},
                    {{currentEavrop.utforandeOrganisation}}</b></p>
            </div>
        </div>

    </div>

    <div restricted role="ROLE_UTREDARE">
        <div ng-controller="AcceptanceCtrl" ng-switch="currentEavrop.status">
            <div class="fmu-assign-banner" ng-switch-when="ASSIGNED">
                <h1>Förfrågan om acceptans</h1>

                <p>Förfrågan ställd till: <b>{{currentEavrop.utforandeEnhet}},
                    {{currentEavrop.utforandeOrganisation}}</b></p>

                <p>Acceptans begärd av: <b>{{currentEavrop.mottagarenOrganisation}},
                    {{currentEavrop.assigningPerson}}</b></p>

                <a ng-click="acceptDialog()" class="btn btn-success">Acceptera förfrågan</a>
                <a ng-click="rejectDialog()" class="btn btn-danger">Avslå förfrågan</a>
            </div>
        </div>
    </div>

    <nav id="fmu-nav" role="navigation">
        <ul>
            <li ng-class="{active: $state.includes('eavrop.order')}">
                <a ui-sref=".order.contents">
                    <span class="glyphicon glyphicon-save">&nbsp;</span>Beställning
                </a>
            </li><li ui-sref-active="active"><a ui-sref=".investigation"><span
                    class="glyphicon glyphicon-search">&nbsp;</span>Utredning</a></li><li ui-sref-active="active"><a ui-sref=".allevents"><span class="glyphicon glyphicon-random">&nbsp;</span>Alla händelser</a></li><li ui-sref-active="active"><a ui-sref=".notes"><span class="glyphicon glyphicon-pencil">&nbsp;</span>Anteckningar</a></li><li ui-sref-active="active"><a ui-sref=".compensation"><span class="glyphicon glyphicon-book">&nbsp;</span>Underlag för ersättning</a></li><li id="status-btn" ng-init="showStatus = false" ng-click="showStatus = !showStatus"><a><span class="glyphicon glyphicon-flag">&nbsp;</span>Status</a></li>
        </ul>
        <!--
        <ul class="nav navbar-nav fmu-status-nav">
            <li id="status-btn" ng-init="showStatus = false" ng-click="showStatus = !showStatus"><a><span class="glyphicon glyphicon-flag">&nbsp;</span>Status</a></li>
        </ul> -->

        <!--Responsive menu-->

        <!-- <ul class="nav navbar-nav fmu-nav-responsive-small">
            <li class="dropdown">
                <a class="dropdown-toggle" role="button" aria-expanded="true">
                    <span class="glyphicon glyphicon-list"></span>
                </a>

                <ul class="dropdown-menu" role="menu">
                    <li ng-class="{active: $state.includes('eavrop.order')}">
                        <a ui-sref=".order.contents">
                            <span class="glyphicon glyphicon-save">&nbsp;</span>Beställning
                        </a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref=".investigation"><span
                            class="glyphicon glyphicon-search">&nbsp;</span>Utredning</a></li>
                    <li ui-sref-active="active"><a ui-sref=".allevents"><span class="glyphicon glyphicon-random">&nbsp;</span>Allahändelser</a></li>
                    <li ui-sref-active="active"><a ui-sref=".notes"><span class="glyphicon glyphicon-pencil">&nbsp;</span>Anteckningar</a></li>
                    <li ui-sref-active="active"><a ui-sref=".compensation"><span class="glyphicon glyphicon-book">&nbsp;</span>Underlag för ersättning</a></li>
                    <li ng-init="showStatus = false" ng-click="showStatus = !showStatus"><a><span class="glyphicon glyphicon-flag">&nbsp;</span>Status</a></li>
                </ul>
            </li>
        </ul> -->
    </nav>

    <div ng-show="showStatus" class="fmu-status-banner">
        <div class="status">
            <h1 ng-binds="getStatus(currentEavrop)"></h1>
        </div>
        <div class="nr-of-days">
            <h1>Antal dagar sedan utredningens start:</h1>
            <p>{{currentEavrop.nrOfDaysSinceStart}}</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#page-menus').scrollToFixed({
            preFixed: function () {
                $('#fmu-nav').addClass('menu-shadow')
                $('.fmu-status-banner').addClass('menu-shadow')
            },
            postFixed: function () {
                $('#fmu-nav').removeClass('menu-shadow')
                $('.fmu-status-banner').removeClass('menu-shadow')
            }
        });

        $('#status-btn').click(function () {
            var status = angular.element($('#status-btn')).scope().showStatus;
            if(!status){
                $('#fmu-nav').addClass('no-shadow');
                $('.fmu-status-banner').removeClass('fadeOut');
                $('.fmu-status-banner').addClass('fadeIn fast');
                $('.fmu-status-nav').addClass('status-active');
            } else {
                $('#fmu-nav').removeClass('no-shadow');
                $('.fmu-status-banner').removeClass('fadeIn fast');
                $('.fmu-status-nav').removeClass('status-active');

            }
        });
    });
</script>

<div>
    <div ui-view></div>
</div>
