<div ng-cloak class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h1>
                Utredning
            </h1>
        </div>

        <div class="col-md-10">
            <button style="float: right" class="btn btn-warning" ng-click="tillIntyg()">Till Intyget</button>
        </div>
    </div>

    <div class="row">
        <div class="table-wrapper">
            <fmu-utredning-table
                    table-parameters="tableParameters"
                    header-fields="headerFields"
                    eavropid="currentEavropId"
                    row-modifiable="true"
                    get-data-callback="getTableCellValue">
            </fmu-utredning-table>

            <div class="fmu-form-footer">
                <button class="btn btn-success utredning-laggtill-btn"
                        ng-click="openBookingCreationDialog()">
                    Lägg till händelse
                </button>
            </div>
        </div>
    </div>
</div>