<h1>
    Anteckningar
</h1>
<div class="row">
    <div class="col-md-10">
        <div class="fmu-table-k">
            <table>
                <tr>
                    <td>
                        Innehåll
                    </td>
                    <td>
                        Skapad av
                    </td>
                    <td>
                        Datum
                    </td>
                </tr>
                <tr ng-repeat="note in notes">
                    <td>{{note.contents}}</td>
                    <td>{{note.createdBy}}</td>
                    <td>{{toYYMMDD(note.date)}}</td>
                </tr>
            </table>
        </div>
        <a class="btn btn-default" ng-click="openAddNoteModal()">Lägg till</a>
    </div>
</div>
