<div class="container-fluid">
    <h1>
        Anteckningar
    </h1>

    <div class="table-wrapper">
        <fmu-error-field errors="noteError"></fmu-error-field>
        <div class="fmu-table-k">
            <table>
                <tr>
                    <td>
                        Innehåll
                    </td>
                    <td>
                        Skapad av
                    </td>
                    <td>
                        Datum
                    </td>
                    <td>
                        Tabort
                    </td>
                </tr>
                <tr ng-repeat="note in notes">
                    <td class="text-capitalize">{{note.contents}}</td>
                    <td class="text-capitalize">{{note.createdBy}}</td>
                    <td>{{toYYMMDD(note.date)}}</td>
                    <td align="right">
                        <span ng-if="note.removable" class="btn btn-danger btn-sm" ng-click="removeNote(note)"><i
                                class="glyphicon glyphicon-remove"></i></span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="fmu-form-footer">
            <div>
                <button class="btn btn-success" ng-click="openAddNoteModal()">Lägg till anteckning</button>
            </div>
        </div>
    </div>
</div>


