<div ng-cloak class="eavrop-notes">
    <h1>Anteckningar</h1>
    <p>De anteckningar som noteras här skall inte innehålla någon medicinsk eller känslig information.</p>
    <div class="table-wrapper">
        <fmu-error-field errors="noteError"></fmu-error-field>
        <div class="table-wrapper">
            <fmu-anteckningar-table
            anteckningar="notes"
            row-removable="true"
            remove-func="openRemoveNote"></fmu-anteckningar-table>
        </div>
        <button class="btn btn-success" ng-click="openAddNoteModal()">Lägg till anteckning</button>
    </div>
</div>