<h1>
    Beställning
</h1>

<tabset>
    <tab heading="Innehåll i beställningen">
        <div class="row">
            <div class="col-md-3">
                <h2>Beställning</h2>
                <table class="table table-bordered">
                    <tr>
                        <th>Ärende-ID:</th>
                        <td>saasds</td>
                    </tr>
                    <tr>
                        <th>Förfrågan inkom:</th>
                        <td>sdasd</td>
                    </tr>
                    <tr>
                        <th>Typ av utredning:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Tolk:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Val av inriktning:</th>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3">
                <h2>Beställare</h2>
                <table class="table table-bordered">
                    <tr>
                        <th>LFC:</th>
                        <td>saasds</td>
                    </tr>
                    <tr>
                        <th>Beställare, namn:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Beställare, tel:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Beställare, e-post:</th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </tab>
    <tab heading="Handlingar och kompletteringar">
    </tab>
    <tab heading="Patienten">
    </tab>
</tabset>
