$navigation-background: #212633;
$webcert-color: #28b4c4;
$overview-nav-bgcolor: lighten($navigation-background, 15%);
$navigation-selected-color: #27BC8F;

//General table styling
$table-header-bgcolor: #3c4e57;
$table-border-color: #DDDDDD;
$table-row-shadow-color: #999;
$danger-color: rgba(255, 75, 73, 0.5);
$warning-color: rgba(250, 206, 65, 0.5);
$success-color: rgba(153, 219, 102, 0.5);

//Overview base
$header-font-size: 2em;
$sub-header-font-size: 1em;
$fmu-status-bgColor: #27BC8F;
$fmu-status-daysBgColor: transparentize(grey, 0.2);
$assign-banner-bgColor: lighten(orange, 30%);
$fmu-tabs-base-color: #ddd;
$fmu-tabs-highlight-color: $webcert-color;