body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.fmu {
    display: inline-block;
    width: 463px;
    height: 640px;
    background-position: center center;
    background-repeat: no-repeat;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

/* start Password strength bar style */
ul#strength {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* end Password strength bar style */

/* start table styling*/
.table-wrapper {
    overflow-x: auto;
    margin-top: 20px;
}

.input-group-addon {
    margin-left: 0;
}

.scroll-table th {
    background-color: #0d3349;
    color: #ffffff
}

@media only screen and (max-width: 40em) {
    /*640*/
    .scroll-table {
        display: block
    }
}

.dateBtn {
    float: left;
    margin-right: 15px;
    margin-top: 20px;
    margin-left: 15px;
}

.circle {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    border-color: #245269;
    float: left;
}

.table-legend p {
    float: left;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

/*Ng-Table override*/
.ng-table th.sortable.sort-desc div:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffffff;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.ng-table th.sortable div:after,
.ng-table th.sortable div:before {
    content: "";
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #ffffff transparent;
    visibility: visible;
    right: 8px;
    top: 50%;
    position: absolute;
    opacity: .3;
    margin-top: -4px;
}
.ng-table th.sortable div:before {
    margin-top: 2px;
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffffff;
}

.invisible-header {
    color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border: none;
    visibility: hidden;
}

.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0);
}
