.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

body, footer {
/*
    max-width: 1180px;
*/
    margin-left: auto;
    margin-right: auto;
}

/*html {
    background: #28b4c4;
}*/

html {
    padding: 0;
    background-color: #212633;
}
body
{
    height: 100%;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 1);
    padding: 0;
}

.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background-color: #212633;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    height: 100% !important;
}

body .container-fluid {
    padding-left: 2em;
    padding-right: 2em;
}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.fmu {
    display: inline-block;
    width: 463px;
    height: 640px;
    background-position: center center;
    background-repeat: no-repeat;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

/* start Password strength bar style */
ul#strength {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* end Password strength bar style */

/* start table styling*/

.table-wrapper {
    overflow-x: auto;
    margin-top: 0;
    padding: 2px;
}


.fmu-table {
  width: 100%;
  max-width: 100%;
  min-height: 1em;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0 0;
}

.fmu-table > thead > tr:nth-child(2),
.fmu-table > thead > tr:only-child {
    background-color: #3c4e57;
    color: #ffffff;
}

.fmu-table-color-inactive {
    background-color: rgba(139, 149, 154, 0.1);
}

.fmu-table > thead > tr > th,
.fmu-table > thead > tr > td,
.fmu-table > tbody > tr > th,
.fmu-table > tbody > tr > td {
    padding: 10px 10px;
    vertical-align: middle;
}

.fmu-table > tbody > tr {
    cursor: pointer;
}

.fmu-table > tbody > tr > td{
    border: 1px solid #DDDDDD;
}

/* Group headers */
.fmu-table > thead > tr:first-child > th {
    border: none;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

/* Data headers */
.fmu-table > thead > tr:only-child > th {
    text-align: left;
    border-radius: 0;
}

.fmu-table > thead > tr:last-child > th:first-child,
.fmu-table > thead > tr:only-child > th:first-child{
    border-radius: 5px 0 0 0;
}

.fmu-table > thead > tr:last-child > th:only-child,
.fmu-table > thead > tr:only-child > th:only-child {
    border-radius: 5px 5px 0 0 !important;
}

.fmu-table > thead > tr:last-child > th:last-child {
    border-radius: 0 5px 0 0;
}

/* Data fields */
.fmu-table > tbody > tr{
    box-shadow: 1px 3px 3px 2px #999;
}

/* Data fields */
.fmu-table > tbody > tr:first-child > td{
    border-top: none;
}

.fmu-table > tbody > tr:only-child > td {
    height: 2.5em !important;
}

.fmu-table > thead > tr > th {
    border: none;
}

.blank-row {
    height: 2.5em !important;
}

.dateDescription {
    margin-top: 10px;
}

.circle {
    width: 15px;
    height: 15px;
    margin-right: 0.5em;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    float: left;
    box-shadow: 0px 0px 1px 1px #000;
}

.table-legend {
    margin-left: 2px;
}

.table-legend > p {
    float: left;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

/*Ng-Table override*/
.ng-table th.sortable.sort-desc div:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffffff;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.fmu-table > tbody > tr:hover > td {
    background-color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

.ng-table th.sortable div:after,
.ng-table th.sortable div:before {
    content: "";
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #ffffff transparent;
    visibility: visible;
    right: 8px;
    top: 50%;
    position: absolute;
    opacity: 1;
    margin-top: -4px;
}
.ng-table th.sortable div:before {
    margin-top: 2px;
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffffff;
}

.ng-table th.sortable.sort-asc div:after,
.ng-table th.sortable.sort-desc div:after,
.ng-table th.sortable.sort-asc div:hover:after {
    visibility: visible;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.invisible-header {
    color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border: none;
    visibility: hidden;
}

.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0);
}

.bg-head-danger {
    background-color: rgba(255, 75, 73, 0.5);
}

.bg-head-warning {
    background-color: rgba(250, 206, 65, 0.5);
}

.bg-head-success {
    background-color: rgba(153, 219, 102, 0.5);
}

.bg-danger {
    background-color: rgba(250, 103, 97, 0.5);
}

.bg-warning {
    background-color: rgba(233, 197, 112, 0.5);
}

.bg-success {
    background-color: rgba(153, 219, 102, 0.5);
}

.summary-badge-text {
    font-size: 30pt;
    font-weight: bold;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    text-shadow: 1px 1px black;;
}
.summary-badge {
    min-height: 9em;
    margin-bottom: 3em;
}

.summary-badge .panel-heading {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;

    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;

    -webkit-box-shadow: 0 0 1px 1px lightgray;
    -moz-box-shadow: 0 0 1px 1px lightgray;
    box-shadow: 0 0 1px 1px lightgray;
}

.summary-badge .panel-body {
    background-color: #A8B0B5;
    margin-left: auto;
    margin-right: auto;

    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;

    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;

    -webkit-box-shadow: 0 0 1px 1px lightgray;
    -moz-box-shadow: 0 0 1px 1px lightgray;
    box-shadow: 0 0 1px 1px lightgray;
}

.fmu-table-v{
	margin:0px;padding:0px;
    margin-bottom: 1em;
	width:100%;
	border:1px solid #999999;

	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;

	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;

	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;

	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.fmu-table-v table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.fmu-table-v tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
.fmu-table-v table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.fmu-table-v table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}.fmu-table-v tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}
.fmu-table-v tr:nth-child(odd){ background-color:#f3f3f3; }
.fmu-table-v tr:nth-child(even){ background-color:#ffffff; }
.fmu-table-v td{
	vertical-align:middle;
	text-align:left;
	padding: 0.5em;
	font-weight:normal;
	color:#000000;
}
.fmu-table-v tr td:first-child{
	background-color:#3c4e57;
	text-align:left;
	font-weight:bold;
	color:#ffffff;
}



.fmu-table-k {
	margin:0px;
    padding:0px;
    margin-bottom: 1em;
	width:100%;

	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;

	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;

	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;

	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;

}


.fmu-table-k table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

.fmu-table-k tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}

.fmu-table-k table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}

.fmu-table-k table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}.fmu-table-k tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}
.fmu-table-k tr:nth-child(odd){ background-color:#f3f3f3; }
.fmu-table-k tr:nth-child(even){ background-color:#ffffff; }.fmu-table-k td{
	vertical-align:middle;
	text-align:left;
	padding: 0.5em;
	font-weight:normal;
	color:#000000;
}
.fmu-table-k tr:first-child td{
		background:-o-linear-gradient(bottom, #3c4e57 5%, #3c4e57 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3c4e57), color-stop(1, #3c4e57) );
	background:-moz-linear-gradient( center top, #3c4e57 5%, #3c4e57 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c4e57", endColorstr="#3c4e57");	background: -o-linear-gradient(top,#3c4e57,3c4e57);

	background-color:#3c4e57;
	text-align:left;
	font-weight:bold;
	color:#ffffff;
}
.fmu-table-k tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #3c4e57 5%, #3c4e57 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3c4e57), color-stop(1, #3c4e57) );
	background:-moz-linear-gradient( center top, #3c4e57 5%, #3c4e57 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c4e57", endColorstr="#3c4e57");	background: -o-linear-gradient(top,#3c4e57,3c4e57);

	background-color:#3c4e57;
}

h2{
    color: #4c4c4c;
    text-transform: uppercase;
    font-size: 75%;
}

.fmu-dateButton {
    padding-top: 1.5em;
    float: right;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    max-width: 100%;
    width: 50%
}

.utredning-edit-row {
    margin-left: 5em;
    margin-right: 5em;
}

/* Tabs panel */
.tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

.fmu-error-field {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid rgba(255, 75, 73, 0.5);
    background-color: rgba(255, 75, 73, 0.5);
    padding: 0.5em;
    margin: 0.5em;
}

.fmu-error-field p i {
    color: #000000;
    font-size: 9pt;
}

.fmu-form-container {
    display: block;
    position: relative;
    border-collapse: separate;
    margin: 1em;
}

.fmu-form-header {
    display: block;
    position: relative;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid #ddd;
}

.fmu-form-header h1 {
    font-size: 14pt;
}

.fmu-form-body {
    display: block;
    text-align: left;
    border-top: thin #000000;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.fmu-form-footer {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 1em;
/*
    padding-right: 1em;
*/
    padding-top: 1em;
    border-top: 1px solid #ddd;
}

.fmu-form-footer > div {
    float: right;
}

.fmu-form-body > div {
    margin-top: 1em;
}

.fmu-form-footer > div > button {
    min-width: 5em;
}

.dropdown-menu {
    z-index: 1000;
}

.utredning-laggtill-btn {
    display: inline-block;
    float: right;
}

.ng-table th {
    text-align: left;
}

.fmu-confirm-heading-text {
    color: #008391;
    font-weight: bold;
}

.fmu-confirm-text {
    color: #000000;
    white-space: nowrap;
}

.fmu-header {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 1em;
    background-color: #E6F3F4;
    opacity: 1;
}

.fmu-header .fmu-backlink,
.fmu-header .fmu-name-banner {
    font-size: 12pt;
}

.fmu-name-banner {
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.fmu-name-banner b{
    font-weight: bold;
}

@media (max-width: 480px) {
    .nav-tabs > li {
        float:none;
        border: 1px solid #ddd;
    }

    .nav-tabs > li.active > a {
         border-radius: 0;
         margin: 0;
         border: 1px solid #ddd;
     }

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        background-color: #ddd;
    }
}

.menu-shadow{
	-webkit-box-shadow: 0 8px 8px rgba(128, 128, 128, 0.5) !important;
    -moz-box-shadow: 0 8px 8px rgba(128, 128, 128, 0.5) !important;
    box-shadow: 0 8px 8px rgba(128, 128, 128, 0.5) !important;
}

.fast {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.normal {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.container-fluid h1:first-child {
    margin-top: 1em;
}

.fmu-nav {
    background-color: #9DA6AB;
    border: none;
    -webkit-box-shadow: 0 2px 2px -1px #000000;
    -moz-box-shadow: 0 2px 2px -1px #000000;
    box-shadow: 0 2px 2px -1px #000000;
    color: #ffffff;
}

.no-shadow {
    border: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.fmu-nav ul {
    margin: 0;
    padding: 0;
}

.fmu-nav .nav li > a {
    margin: 0.5em;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 1px 1px #52626A;
    -moz-box-shadow: inset 0 0 1px 1px #52626A;
    box-shadow: inset 0 0 1px 1px #52626A;
    background-color: #8B959A;
}

.navbar .nav > li {
    border: none;
}

.navbar .nav > li:first-child {
    border: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3C4E57;
}

.fmu-status-nav {
    background-color: #8B959A;
    position: relative;
    float: right;
    border-left: solid thin #ffffff;

}

.fmu-nav .fmu-status-nav li > a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #8B959A;
}

.navbar-default .fmu-status-nav:hover,
.navbar-default .fmu-status-nav:hover li,
.navbar-default .fmu-status-nav:hover a,
.navbar-default .fmu-status-nav:focus,
.navbar-default .fmu-status-nav:focus li,
.navbar-default .fmu-status-nav:focus a {
    color: #ffffff !important;
    background-color: #27BC8F;
}

.status-active {
    background: #27BC8F;
}
.status-active a,
.status-active a:hover,
.status-active a:focus {
    background: #27BC8F !important;
}

.fmu-status-banner {
    position: absolute;
    background-color: #27BC8F;
    color: #ffffff;
    display: block;
    width: 100%;
    min-width: 100px;
    z-index: 1000;
    overflow-x: hidden;
}

.fmu-status-banner table {
    table-layout:fixed
    border: none;
    width: 100%;
}

.fmu-status-banner td {
    color: #ffffff;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}

.fmu-status-banner td:first-child {
    padding-left: 4em;
}

.fmu-status-banner td:last-child {
    padding-right: 4em;
}

.status-info-badge {
    display: inline-block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.fmu-status-banner h3,
.fmu-status-banner h2 {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.greyed-hover > tbody > tr:hover > td {
    background-color: rgba(216, 216, 216, 0.5);
}

.fmu-assign-banner {
    padding: 1em 2em;
    background-color: #FDF2DD;
}

.fmu-assign-banner h1 {
    font-size: 14pt;
    color: #28b4c4;
}

.fmu-badge-container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fafafa;
}

.btn-handlingar {
    float: right;
    min-width: 10em;
}

.greyed-hover .no-hover:hover > td{
    background-color: #ffffff;
}

.fmu-info-text {
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
}

.badge-danger {
    background-color: #FA6761 !important;
}



