<div class="fmu-form-container">
    <div class="fmu-form-header">
        <h1 translate>Beställning/Lägg till handling</h1>
    </div>
    <div class="fmu-form-body">
        <div class="fmu-form-item">
            <label translate for="name">Beställning/Lägg till handling/Handling</label>
            <input class="form-control" ng-model="doc.name" type="text" id="name" />
        </div>
        <div class="fmu-form-item">
            <label translate>Beställning/Lägg till handling/Registrerad av</label>
            <p>---</p>
        </div>
        <div class="fmu-form-item">
            <label translate for="date">Beställning/Lägg till handling/Registrerad, datum</label>
            <p class="input-group">
            <input type="text" id="date" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="doc.regDate" is-open="picker.opened"  ng-required="true" close-text="Stäng" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </p>
        </div>
    </div>
    <div class="fmu-form-footer">
        <div>
            <button class="btn btn-default btn-success" type="button" ng-click="save()" translate>Beställning/Lägg till handling/Spara</button>
            <button class="btn btn-default btn-danger" type="button" ng-click="close()" translate>Beställning/Lägg till handling/Avbryt</button>
        </div>
    </div>
</div>