.alla-handelser {
    @include layout(12 1 / 4);
    padding: 1em;
    h1 {
        font-size: $header-font-size;
    }
    h2 {
        font-size: $sub-header-font-size !important;
    }
    .sammanfattning {
        .badges-container {
            @include clearfix;
            h2 {
                margin-bottom: gutter(12);
            }
            padding: gutter(12);
            margin-bottom: 0;
            padding-bottom: 0;
            .summary-badge {
                height: 10em;
                margin-bottom: gutter(12);
                $bg-color: lighten(grey, 20%);
                .panel-heading {
                    @include border-top-radius(0.5em);
                    box-shadow: 0 0 1px 1px text-contrast(white);
                    text-align: center;
                    background-color: $bg-color;
                    color: text-contrast($bg-color);
                    padding: 0.5em 0;
                }
                .panel-body {
                    margin-left: auto;
                    margin-right: auto;
                    @include border-bottom-radius(0.5em);
                    box-shadow: 0 0 1px 1px text-contrast(white);
                    font-size: 2em;
                    text-align: center;
                    font-weight: bold;
                    color: text-contrast(white);
                    min-height: 2em;
                }
                .badge-danger {
                    background-color: $danger-color !important;
                    color: text-contrast($danger-color);
                }
            }
        }
        @include respond-to("tablet") {
            .badges-container {
                .summary-badge {
                    @include gallery(6 of 12);
                }
            }
        }

        @include respond-to("desktop") {
            .badges-container {
                .summary-badge {
                    @include gallery(3 of 12);
                }
            }
        }
    }
    %container {
        @include container;
        @include clearfix;
        margin-top: 1em;
    }
    .events-bestallning {
        @extend %container;
    }
    .events-handlingar {
        @extend %container;
    }
    .events-tillagg {
        @extend %container;
    }
    .events-utredning {
        @extend %container;
    }
    .events-anteckningar {
        @extend %container;
    }
}