$eavrop-header-bcolor: lighten($navigation-background, 15%);
$eavrop-header-text-color: text-contrast($eavrop-header-bcolor);
$eavrop-header-link-bcolor: darken($eavrop-header-bcolor, 10%);
$eavrop-header-element-padding: 0.5em 1em;
$eavrop-hover-bcolor: lighten($eavrop-header-bcolor, 20%);

.eavrop-header {
    @include container;
    @include clearfix;
    background-color: $eavrop-header-bcolor;
    color: $eavrop-header-text-color;
    .header-backlink {
    	padding: $eavrop-header-element-padding;
    	display: table-cell;
    	vertical-align: middle;
    	float: left;
    	color: $eavrop-header-text-color;
    	p {
    		margin: 0;
    		color: white;
    	}
    	cursor: pointer;

    	&:hover{
    		background-color: $eavrop-hover-bcolor;
    		color: text-contrast($eavrop-hover-bcolor);
    	}
    }
    .patient-info-banner {
    	padding: $eavrop-header-element-padding;
    	display: table-cell;
    	vertical-align: middle;
		float: right;
    }
}

#fmu-nav {
	@include container;
	ul {
		@include ul-navigation(darken($webcert-color, 20%));
	}
}

#status-btn {
	float: right;
}
