.footer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1em !default;
  $base-accent-color: #477DCA !default;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    line-height: 1.5em;
  }

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $footer-background: $navigation-background;
  $footer-color: white;
  $footer-link-color: text-contrast($footer-color);
  $footer-disclaimer-color: text-contrast($footer-color);

  background: $footer-background;
  padding: $base-spacing gutter();
  
  .footer-logo {
    text-align: center;

    img {
      height: 3em;
    }
  } 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-spacing/2;

    @include respond-to('tablet') {
      @include squish(3 3 of 12);
    }
  }

  ul {
    margin-bottom: $base-spacing;

    @include respond-to('tablet') {
      @include span(1 of 3);
      &:last-child {
        @include omega;
      }
      @include clearfix;
    }
  }

  li {
    text-align: center;

    @include respond-to('tablet') {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: text-contrast($navigation-background);
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
