header.navigation {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  -webkit-font-smoothing: antialiased;

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $navigation-padding: 1em;
  $navigation-height: 60px;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include container;

    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;
    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }
}
