<div class="fmu-form-container">
    <div class="fmu-form-header">
        <h1 translate>Avslå-förfrågan-modal/Avslå förfrågan om utredning</h1>
    </div>

    <div class="fmu-form-body">
        <div class="form-group"> </div>
    </div>
    
    <div class="fmu-form-footer">
        <button class="btn btn-default btn-danger" type="button" ng-click="reject()" translate>Avslå-förfrågan-modal/Skicka</button>
        <button class="btn btn-default btn-success" type="button" ng-click="close()" translate>Avslå-förfrågan-modal/Avbryt</button>
    </div>
</div>
