<div class="fmu-form-container" ng-controller="UtredningController">
    <!--Typ-->
    <div class="modal-header fmu-form-header">
        <h1>Lägg till Händelse</h1>
    </div>

    <div class="fmu-form-body">
        <div>
            <h3>Typ av händelse</h3>
            <select class="form-control" ng-model="choosenHandelseType"
                    ng-options="handelse.type for handelse in handelseTypes">
                <option value="">-- Välj en händelse --</option>
            </select>
        </div>

        <!--Datum-->
        <div class="row" style="margin-left: 0">
            <div class="col-md-5" style="padding-top: 0.5em">
                <fmu-datepicker title="Datum" date-model="handelseDate"></fmu-datepicker>
            </div>

            <div class="col-md-6">
                <div class="col-md-6">
                    <timepicker ng-model="startTime" hour-step="1" minute-step="10"
                                show-meridian="true"></timepicker>
                </div>
                <div class="col-md-6">
                    <timepicker ng-model="endTime" hour-step="1" minute-step="10" show-meridian="true"></timepicker>
                </div>
            </div>
        </div>

        <!--Person/Roll-->

        <div class="row">
            <div class="col-md-5">
                <h3>Person</h3>
                <input class="form-control" ng-model="personNAme">
            </div>

            <div class="col-md-6">
                <h3>Roll</h3>
                <select class="form-control" ng-model="choosenRole"
                        ng-options="role.name for role in roles">
                    <option value="">-- Välj en roll --</option>
                </select>
            </div>
        </div>

        <div>
            <label>Tolk ?</label>
            <div class="radio">
                <label>
                    <input ng-model="tolkRadio" type="radio" value="false"> Ja
                </label>

                <label>
                    <input ng-model="tolkRadio" type="radio" value="true"> Nej
                </label>
            </div>
        </div>
    </div>

    <div class="fmu-form-footer">
        <div>
            <button class="btn btn-success"
                    ng-click="saveHandelse()">Spara
            </button>
            <button class="btn btn-warning"
                    ng-click="cancelHandelse()">Avbryt
            </button>
        </div>
    </div>
</div>