<div class="fmu-form-container">
    <!--Typ-->
    <div class="fmu-form-header">
        <h1>Lägg till Händelse</h1>

    </div>

    <div class="fmu-form-body">
        <fmu-error-field errors="createBookingErrors"></fmu-error-field>

        <div>
            <label>Typ av händelse</label>
            <select class="form-control" ng-model="$parent.choosenHandelseType"
                    ng-options="handelse.name for handelse in handelseTypes">
                <option value="">-- Välj en händelse --</option>
            </select>
        </div>

        <!--Datum-->
        <div>
            <div class="col-md-5" style="padding-top: 0.5em">
                <fmu-datepicker title="Datum" date-model="handelseDate"></fmu-datepicker>
            </div>

            <div class="col-md-6">
                <div class="col-md-6">
                    <timepicker ng-model="handelseStartTime" hour-step="1" minute-step="10"
                                show-meridian="false"></timepicker>
                </div>
                <div class="col-md-6">
                    <timepicker ng-model="handelseEndTime" hour-step="1" minute-step="10" show-meridian="false"></timepicker>
                </div>
            </div>
        </div>

        <!--Person/Roll-->

        <div class="row">
            <div class="col-md-5">
                <label>Person</label>
                <input class="form-control" ng-model="$parent.personName">
            </div>

            <div class="col-md-6">
                <label>Roll</label>
                <select class="form-control" ng-model="$parent.choosenRole"
                        ng-options="role.name for role in roles">
                    <option value="">-- Välj en roll --</option>
                </select>
            </div>
        </div>

        <div ng-if="isAFU()">
            <label>Är detta en tilläggstjänst?</label>
            <div class="radio">
                <label>
                    <input ng-model="$parent.tillaggRadio.value" type="radio" ng-value="true"> Ja
                </label>

                <label>
                    <input ng-model="$parent.tillaggRadio.value" type="radio" ng-value="false"> Nej
                </label>
            </div>
        </div>

        <div>
            <label>Tolk?</label>
            <div class="radio">
                <label>
                    <input ng-model="$parent.tolkRadio" type="radio" ng-value="true"> Ja
                </label>

                <label>
                    <input ng-model="$parent.tolkRadio" type="radio" ng-value="false"> Nej
                </label>
            </div>
        </div>
    </div>

    <div class="fmu-form-footer">
        <div>
            <button class="btn btn-success"
                    ng-click="saveHandelse()">Spara
            </button>
            <button class="btn btn-danger"
                    ng-click="cancel()">Avbryt
            </button>
        </div>
    </div>
</div>
