<div class="row">
  <div class="col-md-5">
    <b translate>Från, datum</b>
    <div class="input-group">
      <input type="text" class="form-control"
      datepicker-popup="{{dateFormat}}"
      ng-model="$parent.startDate" is-open="dateService.startDateOpened.value"
      ng-required="true"
      close-text="Close" />
      <span class="input-group-addon">
        <a ng-click="dateService.openStart($event)"><i class="glyphicon glyphicon-calendar"></i></a>
      </span>
    </div>
  </div>

  <div class="col-md-5">
    <b translate>Till, datum</b>
    <div class="input-group">
      <input type="text" class="form-control"
      datepicker-popup="{{dateFormat}}"
      ng-model="$parent.endDate" is-open="dateService.endDateOpened.value"
      ng-required="true"
      close-text="Clspanose" />
      <span class="input-group-addon datepicker">
        <a ng-click="dateService.openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></a>
      </span>
    </div>
  </div>
  <div class="col-md-2">
    <button class="btn btn-info dateBtn" ng-click="tableService.doDateFilter(dateKey, dateService.startDate, dateService.endDate)" translate>Visa</button>
  </div>
</div>

<em>{{dateDescription}}</em>