<div class="row">
    <div class="col-md-3">
        <table class="table table-bordered">
            <tr>
                <th>Initialer:</th>
                <td>{{currentEavrop.patient.initials}}</td>
            </tr>
            <tr>
                <th>Kön:</th>
                <td>{{currentEavrop.patient.gender}}</td>
            </tr>
            <tr>
                <th>Födelseår:</th>
                <td>{{currentEavrop.patient.dobYear}}</td>
            </tr>
            <tr>
                <th>Bostadsort:</th>
                <td>{{currentEavrop.patient.residence}}</td>
            </tr>
        </table>
    </div>
    <div restricted role="ROLE_UTREDARE" class="col-md-3">
        <table class="table table-bordered">
            <tr>
                <th>Personnummer:</th>
                <td>{{currentEavrop.patient.details.socSecNo}}</td>
            </tr>
            <tr>
                <th>Namn:</th>
                <td>{{currentEavrop.patient.details.name}}</td>
            </tr>
            <tr>
                <th>Telefonnummer:</th>
                <td>{{currentEavrop.patient.details.phone}}</td>
            </tr>
            <tr>
                <th>Tidigare utredd vid:</th>
                <td>{{currentEavrop.patient.details.prevInvestigatedAt}}</td>
            </tr>
            <tr>
                <th>Sjukskrivande vårdcentral/klinik</th>
                <td>{{currentEavrop.patient.details.sickLeaveClinic}}</td>
            </tr>
            <tr>
                <th>Sjukskrivande läkare:</th>
                <td>{{currentEavrop.patient.details.sickLeaveDoctor}}</td>
            </tr>
            <tr>
                <th>Särskilda behov</th>
                <td>{{currentEavrop.patient.details.specialNeeds}}</td>
            </tr>
        </table>
    </div>
</div>
