<div class="row"><div class="col-md-12"><h2>Invånaren</h2></div></div>
<div class="row">
    <div class="col-md-3">
        <div class="fmu-table-v">
            <table>
                <tr>
                    <td>Initialer:</th>
                    <td>{{patient.initials}}</td>
                </tr>
                <tr>
                    <td>Kön:</th>
                    <td>{{patient.gender}}</td>
                </tr>
                <tr>
                    <td>Födelseår:</th>
                    <td>{{patient.dobYear}}</td>
                </tr>
                <tr>
                    <td>Bostadsort:</th>
                    <td>{{patient.residenceCity}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div restricted role="ROLE_UTREDARE" class="col-md-3">
        <div class="fmu-table-v">
            <table>
                <tr>
                    <td>Personnummer:</th>
                    <td>{{patient.details.socSecNo}}</td>
                </tr>
                <tr>
                    <td>Namn:</th>
                    <td>{{patient.details.name}}</td>
                </tr>
                <tr>
                    <td>Telefonnummer:</th>
                    <td>{{patient.details.phone}}</td>
                </tr>
                <tr>
                    <td>Tidigare utredd vid:</th>
                    <td>{{patient.details.prevAssesment}}</td>
                </tr>
                <tr>
                    <td>Sjukskrivande vårdcentral/klinik</th>
                    <td>{{patient.details.sjukskrivandeVk}}</td>
                </tr>
                <tr>
                    <td>Sjukskrivande läkare:</th>
                    <td>{{patient.details.sjukskrivandeLakare}}</td>
                </tr>
                <tr>
                    <td>Särskilda behov</th>
                    <td>{{patient.details.specialNeeds}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
