<div class="container-fluid">
    <div class="col-md-12 table-wrapper">
        <h2>Invånaren</h2>
        <table class="fmu-table">
            <thead>
            <tr>
                <th>Initialer</th>
                <th>Kön</th>
                <th>Födelseår</th>
                <th>Bostadsort</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{patient.initials}}</td>
                <td>{{patient.gender}}</td>
                <td>{{patient.dobYear}}</td>
                <td>{{patient.residenceCity}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 table-wrapper">
        <table class="fmu-table">
            <thead>
            <tr>
                <th>Personnummer</th>
                <th>Namn</th>
                <th>Telefonnummer</th>
                <th>Tidigare utredd vid</th>
                <th>Sjukskrivande vårdcentral/klinik</th>
                <th>Sjukskrivande läkare</th>
                <th>Särskilda behov</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{patient.details.socSecNo}}</td>
                <td>{{patient.details.name}}</td>
                <td>{{patient.details.phone}}</td>
                <td>{{patient.details.prevAssesment}}</td>
                <td>{{patient.details.sjukskrivandeVk}}</td>
                <td>{{patient.details.sjukskrivandeLakare}}</td>
                <td>{{patient.details.specialNeeds}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>