<div class="row">
    <div class="col-md-3">
        <h2>Beställning</h2>
        <div class="fmu-table-v">
            <table>
                <tr>
                    <td>Ärende-ID:</th>
                    <td>{{order.arendeId}}</td>
                </tr>
                <tr>
                    <td>Förfrågan inkom:</th>
                    <td>{{order.inquiryDate | date: 'yyyy-MM-dd'}}</td>
                </tr>
                <tr>
                    <td>Typ av utredning:</th>
                    <td>{{order.type}}</td>
                </tr>
                <tr>
                    <td>Tolk:</th>
                    <td>{{order.interpreterLang ? ('Ja, ' + order.interpreterLang) : 'Nej'}}</td>
                </tr>
                <tr>
                    <td>Val av inriktning:</th>
                    <td>{{order.valAvInriktning}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Beställare</h2>

        <div class="fmu-table-v">
            <table>
                <tr>
                    <td>Enhet:</th>
                    <td>{{order.ordererUnit}}</td>
                </tr>
                <tr>
                    <td>Beställare, namn:</th>
                    <td>{{order.ordererName}}</td>
                </tr>
                <tr>
                    <td>Beställare, tel:</th>
                    <td>{{order.ordererPhone}}</td>
                </tr>
                <tr>
                    <td>Beställare, e-post:</th>
                    <td>{{order.ordererEmail}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
