<div class="row">
    <div class="col-md-3">
        <h2>Beställning</h2>
        <div class="fmu-table-v">
            <table>
                <tr>
                    <td>Ärende-ID:</th>
                    <td>{{currentEavrop.arendeId}}</td>
                </tr>
                <tr>
                    <td>Förfrågan inkom:</th>
                    <td>{{currentEavrop.inquiryDate}}</td>
                </tr>
                <tr>
                    <td>Typ av utredning:</th>
                    <td>{{currentEavrop.type}}</td>
                </tr>
                <tr>
                    <td>Tolk:</th>
                    <td>{{currentEavrop.interpreter}}</td>
                </tr>
                <tr>
                    <td>Val av inriktning:</th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Beställare</h2>

        <div class="fmu-table-v">
            <table>
                <tr>
                    <td>LFC:</th>
                    <td>{{currentEavrop.orderer.lfc}}</td>
                </tr>
                <tr>
                    <td>Beställare, namn:</th>
                    <td>{{currentEavrop.orderer.name}}</td>
                </tr>
                <tr>
                    <td>Beställare, tel:</th>
                    <td>{{currentEavrop.orderer.phone}}</td>
                </tr>
                <tr>
                    <td>Beställare, e-post:</th>
                    <td>{{currentEavrop.orderer.email}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
