<div class="eavrop-order-content">
    <div class="bestallning">
        <h2>Beställning</h2>
        <table class="fmu-table">
            <thead>
            <tr>
                <th>Ärende-ID</th>
                <th>Förfrågan inkom</th>
                <th>Typ av utredning</th>
                <th>Tolk</th>
                <th>Val av inriktning</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{order.arendeId}}&nbsp;</td>
                <td>{{order.inquiryDate | date: 'yyyy-MM-dd'}}&nbsp;</td>
                <td>{{order.type}}&nbsp;</td>
                <td>{{order.interpreterLang ? ('Ja, ' + order.interpreterLang) : order.interpreterLang != undefined ? 'Nej': null}}&nbsp;</td>
                <td>{{order.valAvInriktning}}&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="bestallare">
        <h2>Beställare</h2>
        <table class="fmu-table">
            <thead>
            <tr>
                <th>Enhet:</th>
                <th>Beställare, namn</th>
                <th>Beställare, tel</th>
                <th>Beställare, e-post</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{order.ordererUnit}}&nbsp;</td>
                <td>{{order.ordererName}}&nbsp;</td>
                <td>{{order.ordererPhone}}&nbsp;</td>
                <td>{{order.ordererEmail}}&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
