<div class="handlingar-tillagg">
    <div class="table-wrapper">
        <h2 translate>Handlingar/Handlingar</h2>
        <fmu-handlingar-table handlingar="documents"></fmu-handlingar-table>
        
        <button restricted role="ROLE_UTREDARE" ng-click="openAddDocumentModal()" class="btn btn-success btn-handlingar" translate>Handlingar/Lägg till handling</button>
    </div>
    <div class="table-wrapper">
        <h2 translate>Handlingar/Tillägg</h2>
        <fmu-tillagg-table tillagg="reqDocuments"></fmu-tillagg-table>
        
        <button restricted role="ROLE_UTREDARE" ng-click="openReqAmendmentModal()" class="btn btn-success btn-handlingar" translate>Handlingar/Begär tillägg</button>
    </div>
</div>