<div class="row">
    <div class="col-md-5">
        <h2>Handlingar</h2>
        <table class="table table-bordered">
            <tr>
                <th>
                    Handling
                </th>
                <th>
                    Registrerad av
                </th>
                <th>
                    Registrerad, datum
                </th>
            </tr>
            <tr ng-repeat="doc in documents">
                <td>{{doc.name}}</td>
                <td>{{doc.regBy.name}}, {{doc.regBy.unit}}</td>
                <td>{{doc.regDate}}</td>
            </tr>
        </table>

        <input type="button" restricted role="ROLE_UTREDARE" ng-click="openAddDocumentModal()" class="btn btn-default" value="Lägg till handling"/>

        <h2>Tillägg</h2>
        <table class="table table-bordered">
            <tr>
                <th>
                    Handling
                </th>
                <th>Begäran skickad, av</th>
                <th>Begäran skickad, datum</th>
                <th>Begäran skickad till:</th>
            </tr>
            <tr ng-repeat="am in reqDocuments">
                <td>{{am.name}}</td>
                <td>{{am.reqBy.name}}, {{am.reqBy.unit}}</td>
                <td>{{am.reqDate}}</td>
                <td>{{am.reqTo.name}}, {{am.reqBy.unit}}</td>
            </tr>
        </table>
    </div>
</div>
