<div class="row">
    <div class="col-md-5">
        <h2>Handlingar</h2>
        <fmu-handlingar-table handlingar="documents"></fmu-handlingar-table>

        <input type="button" restricted role="ROLE_UTREDARE" ng-click="openAddDocumentModal()" class="btn btn-default" value="Lägg till handling"/>

        <h2>Tillägg</h2>
        <fmu-tillagg-table tillagg="reqDocuments"></fmu-tillagg-table>
        <input type="button" restricted role="ROLE_UTREDARE" ng-click="openReqAmendmentModal()" class="btn btn-default" value="Begär tillägg"/>
    </div>
</div>
