<div ng-cloak class="eavrop-order">
    <h1>
    Beställning
    </h1>
    <!--     <tabset>
    <tab ui-sref=".contents" heading="Innehåll i beställningen"></tab>
    <tab ui-sref=".documents" heading="Handlingar och tillägg"></tab>
    <tab ui-sref=".citizen" heading="Invånaren"></tab>
    </tabset>
    <div ui-view></div> -->
    <div class="fmu-tabs">
        <nav>
            <ul class="enable-selection-highlight">
                <li>
                    <a ui-sref=".contents">Innehåll i beställningen</a>
                </li>
                <li>
                    <a ui-sref=".documents">Handlingar och tillägg</a>
                </li>
                <li><a ui-sref=".citizen">Invånaren</a></li>
            </ul>
        </nav>
        <div class="fmu-tab-content" ui-view></div>
    </div>
</div>