<div ng-cloak class="eavrop-order">
    <h1 translate> Beställning </h1>
    <div class="fmu-tabs">
        <nav>
            <ul>
                <li ui-sref-active="tab-highlight" class="tab-highlight">
                    <a translate ui-sref=".contents">Innehåll i beställningen</a>
                </li>
                <li ui-sref-active="tab-highlight">
                    <a translate ui-sref=".documents">Handlingar och tillägg</a>
                </li>
                <li ui-sref-active="tab-highlight">
                    <a translate ui-sref=".citizen">Invånaren</a>
                </li>
            </ul>
        </nav>
        <div class="fmu-tab-content" ui-view></div>
    </div>
</div>