<div ng-cloak class="eavrop-order">
    <h1>
    Beställning
    </h1>
    <div class="fmu-tabs">
        <nav>
            <ul enable-selection-highlight="tab-highlight">
                <li class="tab-highlight">
                    <a ui-sref=".contents">Innehåll i beställningen</a>
                </li>
                <li>
                    <a ui-sref=".documents">Handlingar och tillägg</a>
                </li>
                <li><a ui-sref=".citizen">Invånaren</a></li>
            </ul>
        </nav>
        <div class="fmu-tab-content" ui-view></div>
    </div>
</div>