<div class="row">
    <div class="col-md-12">
        <div class="modal-header">
            <h1>Begär tillägg</h1>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="name">Handling</label>
                <input class="form-control" ng-model="doc.name" type="text" id="name" />
            </div>
            <div class="form-group">
                <label>Begäran skickad av</label>
                <p>---</p>
            </div>
            <div class="form-group">
                <label>Begäran skickad, datum</label>
                <p>---</p>
            </div>
            <div class="form-group">
                <label for="comment">Kommentar</label>
                <textarea class="form-control" ng-model="doc.comment" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label>Begäran skickas till</label>
                <p>---</p>
            </div>

        </div>

        <div class="modal-footer">
            <input class="btn btn-default" type="button" value="Skicka" ng-click="save()">
            <input class="btn btn-default" type="button" value="Avbryt" ng-click="close()">
        </div>
    </div>
</div>
