<div ng-cloak class="overview-order-container">
    <h1 translate class="order-status-title typl8-delta">Genomförda Utredningar</h1>
    <ul class="order-dates-container">
        <li class="start-date">
            <fmu-datepicker title="Start datum" date-model="startDate"></fmu-datepicker>
        </li>
        <li class="end-date">
            <fmu-datepicker title="Slut datum" date-model="endDate"></fmu-datepicker>
        </li>
        <li class="date-btn-container">
            <button class="order-date-button btn btn-info" ng-click="visa()" translate>Visa</button>
        </li>
    </ul>
    <div class="date-explaination">
        <p>
            <i> {{datePickerDescription}} </i>
        </p>
    </div>
    <fmu-table
    table-parameters="tableParameters"
    date-key="{{dateKey}}"
    start-date="startDate.getTime()"
    end-date="endDate.getTime()"
    eavrop-status="completedStatus"
    header-groups=headerGroups
    header-fields="headerFields"
    access-data-callback="getTableCellValue"
    footer-hints="footerHints"></fmu-table>
</div>